CompileFlags:
  Add:
    [
      -xc++,
      -std=c++20,
      -stdlib=libc++,
      -Weverything,
      -Wno-pre-c++14-compat,
      -Wno-pre-c++14-compat-pedantic,
      -Wno-pre-c++17-compat,
      -Wno-pre-c++17-compat-pedantic,
      -Wno-pre-c++20-compat,
      -Wno-pre-c++20-compat-pedantic,
      -Wno-c++98-compat,
      -Wno-c++98-compat-pedantic,
      -Wno-c++11-compat,
      -Wno-c++11-compat-pedantic,
      -Wno-c++14-compat,
      -Wno-c++14-compat-pedantic,
      -Wno-c++17-compat,
      -Wno-c++17-compat-pedantic,
      -Wno-c++20-compat,
      -Wno-c++20-compat-pedantic,
      -D_LIBCPP_ENABLE_EXPERIMENTAL,
    ]
  Remove: -W*
  Compiler: D:/msys64/mingw64/bin/clang++.exe
