*.bin		binary
*.flx		binary
*.pal		binary
*.shp		binary
*.vga		binary
*.xpm		text eol=lf

*.bmp		binary
*.gif		binary
*.ico		binary
*.jpeg		binary
*.jpg		binary
*.png		binary

*.mid		binary
*.wav		binary

*.xls		binary

*.tar.gz	binary
*.tar.bz2	binary
*.zip		binary

*.exe		binary
*.dmg		binary
*.zip		binary

*.dat		binary

*.sln		eol=crlf
*.vcproj	eol=crlf
*.vcxproj	eol=crlf
*.vsprops	eol=crlf
*.manifest	eol=crlf
*.bat		text eol=crlf

*.glade		text diff=html eol=lf
*.htm		text diff=html eol=lf
*.html		text diff=html eol=lf
*.shtml		text diff=html eol=lf
*.ui		text diff=html eol=lf
*.xml		text diff=html eol=lf

*.inc		text diff=php eol=lf
*.php		text diff=php eol=lf
*.php3		text diff=php eol=lf
*.tpl		text diff=php eol=lf
*.md		text diff=asm eol=lf

*.ac		text eol=lf
*.am		text eol=lf
*.in		text eol=lf
*.m4		text eol=lf

*.sh		text eol=lf

*.cfg		text eol=lf
*.txt		text eol=lf

*.iss		text eol=lf

*.asm		text diff=asm eol=lf
*.68k		text diff=asm eol=lf
*.m68		text diff=asm eol=lf
*.m68k		text diff=asm eol=lf
*.s68		text diff=asm eol=lf
*.s68k		text diff=asm eol=lf
*.a80		text diff=asm eol=lf
*.z80		text diff=asm eol=lf
*.c			text diff=cpp eol=lf
*.cc		text diff=cpp eol=lf
*.cpp		text diff=cpp eol=lf
*.cxx		text diff=cpp eol=lf
*.c++		text diff=cpp eol=lf
*.h			text diff=cpp eol=lf
*.hh 		text diff=cpp eol=lf
*.hpp		text diff=cpp eol=lf
*.m			text diff=objc eol=lf
*.mm		text diff=objc eol=lf
*.ll		text diff=cpp eol=lf
*.rc		text eol=lf
*.uc		text eol=lf
*.yy		text diff=cpp eol=lf

*.java		text diff=java eol=lf

Changelog	text eol=lf
Makefile*	text eol=lf

AUTHORS		text eol=lf
COPYING		text eol=lf
FAQ			text eol=lf
INSTALL		text eol=lf
NEWS		text eol=lf
README*		text eol=lf

*.pbxproj	text
*.xcscheme	text diff=xml
*.vcxproj.filters	text diff=xml

.gitattributes  text eol=lf
.gitignore	    text eol=lf
.clang-format	text eol=lf
.clangd         text eol=lf
